*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}
label {
    font-size: 1.3em;
    color: rgb(128, 2, 61);
}
.tabla{
    margin: auto;
    width:600px;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 30px;
    color: rgb(0, 0, 0);
    background: rgb(224, 162, 183);
    margin-top: 220px;
    border-collapse: collapse;
}
.contenedor {
    margin: 0 auto;
    width: 500px;
    height: 290px;
}
.controls{
    margin-bottom: 1.3em;
    color: rgba(37, 36, 36, 0.808);
    height: 30px;
    width: 500px;
    border: none;
    border: 1px solid rgb(255, 57, 7);
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;   
}
h1{
    color: rgb(250, 2, 77);
    margin-left: 5%;
    font-size: 4em;
    margin-top: 20px;
    font-family: 'Big Shoulders Stencil Display', cursive;
 }
.registrar{
        color:  whitesmoke;
        background: rgb(247, 33, 104);
        width: 500PX;
        padding: 7px;
        text-align: center;
        border-radius: 7px;
        border: none;
        cursor: pointer;
}
.registrar:hover{
    background: rgb(221, 6, 35);
}
input {
    width: 100%;
    height: 25px;
    border: 1px solid rgb(255, 57, 7);
    margin-bottom: 5px;
}
td, th {
    border: 1px solid black;
}
h2 {
    text-align: center;
    font-family: 'Big Shoulders Stencil Display', cursive;
    color: rgb(223, 0, 223);
    font-size: 2em;
}